<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirecting...</title>
</head>
<body>
    <p>Thank you for submitting the survey. You will be redirected shortly...</p>
    <script>
        setTimeout(function() {
            window.location.href = "{{ redirect_url }}";
        }, 2000);  // 2-second delay
    </script>
</body>
</html>
